<dx-form [showColonAfterLabel]="false">
  <dxi-item itemType="group" [colCount]="12">

    <dxi-item itemType="group" [colSpan]="6">
      <dxi-item [template]="'BezeichnungTemplate'">
        <dxo-label [text]="'CtlSpeziaikonto.Label.Bezeichnung' | translate"></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="6"></dxi-item>

    <dxi-item itemType="group" [colSpan]="6">
      <dxi-item [template]="'BelastungvonTemplate'">
        <dxo-label [text]="'CtlSpeziaikonto.Label.BelastungVon' | translate"></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="6"></dxi-item>

    <dxi-item itemType="group" [colSpan]="6">
      <dxi-item [template]="'PersonTemplate'">
        <dxo-label [text]="'CtlSpeziaikonto.Label.Person' | translate"></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="6"></dxi-item>

    <dxi-item itemType="group" [colSpan]="6">
      <dxi-item [template]="'InstitutionTemplate'">
        <dxo-label [text]="'CtlSpeziaikonto.Label.Institution' | translate"></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="6"></dxi-item>

    <dxi-item itemType="group" [colSpan]="1">
      <dxi-item [template]="'GultigvonTemplate'">
        <dxo-label [text]="'CtlSpeziaikonto.Label.GultigVon' | translate"></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colSpan]="2">
      <dxi-item [template]="'GultigvonNumberboxTemplate'">
        <dxo-label text=""></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="9"></dxi-item>

    <dxi-item itemType="group" [colSpan]="1">
      <dxi-item [template]="'GultigbisTemplate'">
        <dxo-label [text]="'CtlSpeziaikonto.Label.GultigBis' | translate"></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colSpan]="2">
      <dxi-item [template]="'GultigbisNumberboxTemplate'">
        <dxo-label text=""></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="empty" [colSpan]="9"></dxi-item>

    <dxi-item itemType="group" [colSpan]="12">
      <dxi-item [template]="'BemerkungenTemplate'">
        <dxo-label [text]="'CtlSpeziaikonto.Label.Bemerkungen' | translate"></dxo-label>
      </dxi-item>
    </dxi-item>
  </dxi-item>

  <div *dxTemplate="let data of 'BezeichnungTemplate'">
    <span>{{detailData?.NameSpezkonto}}</span>
  </div>

  <div *dxTemplate="let data of 'BelastungvonTemplate'">
    <span>{{nameBelastung}}</span>
  </div>

  <div *dxTemplate="let data of 'PersonTemplate'">
    <span>{{namePerson}}</span>
  </div>

  <div *dxTemplate="let data of 'InstitutionTemplate'">
    <span>{{detailData?.InstitutionName}}</span>
  </div>

  <div *dxTemplate="let data of 'GultigvonTemplate'">
    <span>{{nameMonthVon}}</span>
  </div>

  <div *dxTemplate="let data of 'GultigvonNumberboxTemplate'">
    <span>{{detailData?.DatumVonJahr}}</span>
  </div>

  <div *dxTemplate="let data of 'GultigbisTemplate'">
    <span>{{nameMonthBis}}</span>
  </div>

  <div *dxTemplate="let data of 'GultigbisNumberboxTemplate'">
    <span>{{detailData?.DatumBisJahr}}</span>
  </div>

  <div *dxTemplate="let data of 'BemerkungenTemplate'">
    <span class="text-break">{{detailData?.Bemerkung}}</span>
  </div>

</dx-form>