.container {
    width: 100%;
    position: unset;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    @include breakpoint(pm) {
      flex-direction: column;
    }

    &__left-content {
      display: inline-block;
      width: 205px;
      height: 100%;
      padding: 5px 10px 10px;
      border-radius: 2px;
      @include breakpoint(pm) {
        width: 17%;
      }
      padding-left: 0px;
    }

    &__right-content {
      border-radius: 3px;
      width: 100%;
      min-height: 81.5vh;
      position: unset;
      padding: $padding-content;
      border: none;
      min-height: auto;
    }
    &__hide {
      display: $detail-hide-grid;
    }
  }
