<div id="clientSumInfoID" class="client-sum" *ngIf="data">
  <span class="title">{{title}}</span>
  <div class="divider"></div>
  <dx-box direction="row" width="100%" height="25px">
    <dxi-item class="label-text" [ratio]="0.4" [baseSize]="60">{{'PersonenImHaushalt.ClientSumInfo.Grundbedarf' | translate}}</dxi-item>
    <dxi-item [ratio]="0.7"><span class="content-label">{{data.grundbedarf}}</span></dxi-item>
  </dx-box>
  <dx-box direction="row" width="100%" height="25px">
    <dxi-item class="label-text" [ratio]="0.4" [baseSize]="60">{{'PersonenImHaushalt.ClientSumInfo.Wohnkosten' | translate}}</dxi-item>
    <dxi-item [ratio]="0.7"><span class="content-label">{{data.wohnkosten}}</span></dxi-item>
  </dx-box>
  <dx-box direction="row" width="100%" height="25px">
    <dxi-item class="label-text" [ratio]="0.4" [baseSize]="60">{{'PersonenImHaushalt.ClientSumInfo.Zuschlag' | translate}}</dxi-item>
    <dxi-item [ratio]="0.7">
        <span class="content-label">{{data.zuschlagI}}</span>
    </dxi-item>
  </dx-box>
</div>
