@import 'settings/variables.scss';
.client-sum {
    .title {
        font-size: $table-head-fz;
        font-weight: $base-fw;
    }
    .divider {
        width: 100%;
        height: 1px;
        margin: 10px 0;
        background: $color-gray;
    }
}
