@import 'settings/variables.scss';
.content-container {
    text-align: left;
    position: relative;
    .close-popup-common-content {
        position: absolute;
        top: -60px;
        right: 0px;
        #button-close-popup-common {
            background: none;
            border: none;
            &:focus {
                background: $table-heade-bg;
            }
        }
    }
    .message-content {
        font-weight: normal;
        margin: 0px;
        margin-bottom: 20px;
        white-space: pre-line;
        height: auto;
        max-height: 90%;
        overflow: auto;
    }
    .btn-content {
        text-align: right;
        .btn-detail {
            background-color: $color-base;
            color: $color-white;
            ::ng-deep i {
                color: $color-white
            }
            &:focus {
                background: $searchbox-header-group-color-bg
            }
        }
    }
}