<div class="container-detail form-content-details" *ngIf="!isEditMode">
    <div class="toolbar-header">
        <kiss-card-title id="I006_detail_header" [titleHeader]="'CtlBfsFragenkatalog.Detail' | translate" [listBtn]="listBtn"
            [isCard]="true" (onCustomizeBtnFn)="toolBarOnItemClick($event)" [customizeBtn]="customizeBtn">
        </kiss-card-title>
    </div>
    <div class="container-detail__form" *ngIf="expandDetail">
        <dx-form id="i006_form_view" [showColonAfterLabel]="false" [screenByWidth]="getSizeQualifier">
            <dxi-item itemType="group" [colCount]="12">
                <dxi-item itemType="group" [colSpan]="8">
                    <dxi-item [template]="'freibetragTemplate'">
                        <dxo-label [text]="'Vermogen.Detail.Freibetrag' | translate"></dxo-label>
                    </dxi-item>
                    <dxi-item [template]="'angerechnetTemplate'">
                        <dxo-label [text]="'Vermogen.Detail.Angerechnet' | translate"></dxo-label>
                    </dxi-item>
                    <dxi-item [template]="'personTemplate'">
                        <dxo-label [text]="'Vermogen.Detail.Person' | translate"></dxo-label>
                    </dxi-item>
                    <dxi-item [template]="'artDesVermogeTemplate'">
                        <dxo-label [text]="'Vermogen.Detail.ArtDesVermoge' | translate"></dxo-label>
                    </dxi-item>
                    <dxi-item [template]="'vermogenTemplate'">
                        <dxo-label [text]="'Vermogen.Detail.Vermogen' | translate"></dxo-label>
                    </dxi-item>
                    <dxi-item [template]="'monatlVermogensverbrauchTemplate'">
                        <dxo-label [text]="'Vermogen.Detail.MonatlVermogensverbrauch' | translate"></dxo-label>
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="12">
                <dxi-item itemType="group" [colSpan]="12">
                    <dxi-item [template]="'beschreibungTemplate'">
                        <dxo-label [text]="'Vermogen.Detail.Beschreibung' | translate"></dxo-label>
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <div *dxTemplate="let data of 'freibetragTemplate'">
                <span>{{valueReadOnly?.freibetrag}}</span>
            </div>
            <div *dxTemplate="let data of 'angerechnetTemplate'">
                <span>{{valueReadOnly?.angerechnet}}</span>
            </div>
            <div *dxTemplate="let data of 'personTemplate'">
                <span>{{dataSource?.namevorname}} &nbsp; </span>
            </div>
            <div *dxTemplate="let data of 'artDesVermogeTemplate'">
                <span>{{dataSource?.Buchungstext}} &nbsp; </span>
            </div>
            <div *dxTemplate="let data of 'vermogenTemplate'">
                <span>{{valueReadOnly?.Betrag}}</span>
            </div>
            <div *dxTemplate="let data of 'monatlVermogensverbrauchTemplate'">
                <span>{{valueReadOnly?.Verbrauch}}</span>
            </div>
            <div *dxTemplate="let data of 'beschreibungTemplate'">
                <span class="textarea-pre-wrap">{{dataSource?.Bemerkung}}</span>
            </div>
        </dx-form>
    </div>
</div>