<div>
  <div #printerData id="printer" class="print" style="background-color: #fff;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 999999999;display: none;">
    <div id="print-content" *ngIf="dataPrint">
      <div style="margin: 0 20px 0 20px;">
        <table class="w-100" style="width: 100%;">
          <thead>
            <tr>
              <th>
                <div id="print-header" style="display: flex !important;margin: 20px 0 20px 0;
              justify-content: space-between!important;">
                  <div id="header-left" style="width: 33.33%;text-align: left;">{{optionPrint.header_left}}</div>
                  <div id="header-center" style="width: 33.33%;text-align: center;">{{optionPrint.header_center}}</div>
                  <div id="header-right" style="width: 33.33%;text-align: right;">{{optionPrint.header_right}}</div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- <div [innerHTML]="dataPrint"></div> -->
            <tr>
              <td>
                <table class="w-100 content my-4" style="width: 100%;border: 1px solid #dee2e6;
                width: 100%;
                max-width: 100%;
                background-color: transparent;
                border-collapse: collapse;">
                  <thead>
                    <tr style="background-color:#cccccc" id="content-header">
                      <th *ngFor="let head of colPrint" style="text-align: left;border: 1px solid #dee2e6;padding: .75rem;vertical-align: top;word-break: break-all;">{{head.caption}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataPrint; let i = index; trackBy: trackElement" class="row" id="row-{{i}}">
                      <td *ngFor="let head of colPrint" style="border: 1px solid #dee2e6;padding: .75rem;vertical-align: top;word-break: break-all;"
                        [ngStyle]="{'max-width': getWidth(), 'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow':'ellipsis', 'text-align': head.alignment}">
                        <span *ngIf="getDataType(head.dataType)==='other'">{{item[head.dataField]}}</span>
                        <span *ngIf="getDataType(head.dataType)==='date'">{{item[head.dataField] | date:'dd.MM.yyyy'}}</span>
                        <span *ngIf="getDataType(head.dataType)==='time'">{{item[head.dataField] | date:'HH:mm:ss'}}</span>
                        <span *ngIf="getDataType(head.dataType)==='number'">{{item[head.dataField]}}</span>
                        <span *ngIf="getDataType(head.dataType)==='checkbox' || getDataType(head.dataType)==='boolean'">
                          <span class="dx-checkbox-icon" style="
                        width: 22px;
                        height: 22px;
                        border-radius: 2px;
                        border: 1px solid #ddd;
                        background-color: #fff;
                        display: inline-block;
                        position: relative;
                        background-position: 0 0;
                        background-size: cover;
                        background-repeat: no-repeat;
                          ">
                            <span *ngIf="item[head.dataField]" class="checked" style="
                              position: absolute;
                              left: 5px;
                              top: 0px;
                              width: 7px;
                              height: 12px;
                              border: solid black;
                              border-width: 0 3px 3px 0;
                              -webkit-transform: rotate(45deg);
                              -ms-transform: rotate(45deg);
                              transform: rotate(45deg);
                            "></span>
                          </span>
                        </span>
                        <span *ngIf="getDataType(head.dataType)==='customDate'">{{item[head.dataField] | date: head.format}}</span>
                        <span *ngIf="getDataType(head.dataType)==='customNumber'">{{item[head.dataField] | number: head.format}}</span>
                        <span *ngIf="getDataType(head.dataType)==='img-text' && item[head.dataField]"><img [src]="item[head.dataField].imgUrl" /> {{item[head.dataField].text}}</span>
                      </td>
                    </tr>
                    <tr *ngFor="let item of totalRows" style="background-color:#cccccc">
                      <td *ngFor="let head of colPrint" style="padding: .75rem;vertical-align: top;word-break: break-all;"
                      [ngStyle]="{'max-width': getWidth(), 'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow':'ellipsis', 'text-align': head.alignment}">
                        <span *ngIf="getDataType(head.dataType)==='other'">{{item[head.dataField]}}</span>
                        <span *ngIf="getDataType(head.dataType)==='customNumber'">{{item[head.dataField] | number: head.format}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <div id="print-footer" style="display: flex !important;
              justify-content: space-between!important;margin-bottom: 15px;">
                  <div id="footer-left" style="width: 33.33%">{{optionPrint.footer_left}}: {{now | date:'dd.MM.yyyy'}}</div>
                  <div id="footer-center" style="width: 33.33%;text-align: center"><b>{{optionPrint.footer_center}}</b></div>
                  <div id="footer-right" style="width: 33.33%;text-align: right">{{optionPrint.footer_right}}</div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <h3 class="pag pag1"></h3>
    <div class="insert"></div>
  </div>
  <div id="disabled-curent" *ngIf="isPrint">
    <h3 class="text-inform">Printing ...</h3>
  </div>
</div>
