@import 'settings/variables.scss';
.client-list {
    .title {
        font-weight: $base-fw;
        margin: 10px 0;
    }
    @media screen and (max-width: 960px) {
        .title {
            height: 40px;
        }
    }

  .filter-builder {
    padding-bottom: 5px;
    .dx-filterbuilder {
      margin-bottom: 10px;
      padding: 10px;
    }
  }
}
