@import 'settings/variables.scss';
.product-name-fix {
    color: blue;
}

#searchBoxData {
  /deep/ .dx-dropdowneditor.dx-dropdowneditor-field-clickable {
    width: 450px;
  }
}

#searchBoxData .dx-dropdowneditor-button {
  padding: 0;
  /deep/ .dx-button-content {
    background-color: #337ab7;
    /deep/ i {
      color: #FFFFFF;
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  #searchBoxData {
    /deep/ .dx-dropdowneditor.dx-dropdowneditor-field-clickable {
      width: 350px;
    }
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #searchBoxData {
    /deep/ .dx-dropdowneditor.dx-dropdowneditor-field-clickable {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  #searchBoxData {
    /deep/ .dx-dropdowneditor.dx-dropdowneditor-field-clickable {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 575px) {
  #searchBoxData {
    /deep/ .dx-dropdowneditor.dx-dropdowneditor-field-clickable {
      width: $min-width-search-box;
    }
  }
}
