<div class="container-detail form-content-details" id="i010_zulagen_form" *ngIf="data">
  <div class="toolbar-header">
    <kiss-card-title class="detail_header" id="I010_detail_header" [titleHeader]="'CtlBfsFragenkatalog.Detail' | translate"
      [isCard]="true" (onCustomizeBtnFn)="toolBarOnItemClick($event)" [customizeBtn]="customizeBtn">
    </kiss-card-title>
  </div>

  <div class="container-detail__form zulagen_form" id="zulagen_form">
    
    <dx-box direction="row" width="100%" [height]="40">
      <dxi-item [ratio]="10">
        <div>
          <div class="content-label">
            {{data.nameVorname}}
          </div>
        </div>
      </dxi-item>
    </dx-box>

    <dx-box direction="row" width="100%" [height]="40">
      <dxi-item [ratio]="1">
        <div class="label-text">{{ 'ZulagenEfb.Form.Zulage' | translate }}</div>
      </dxi-item>
      <dxi-item [ratio]="9">
        <div class="ctrWith">
          <div class="content-label">{{data?.zulageText}}</div>
        </div>
      </dxi-item>
    </dx-box>

    <dx-box direction="row" width="100%" [height]="40">
      <dxi-item [ratio]="1">
        <div class="label-text">{{ 'ZulagenEfb.Form.PercentAnteil' | translate }}</div>
      </dxi-item>
      <dxi-item [ratio]="9">
        <div class="ctrWith">
          <div class="content-label" *ngIf="anteilSelected">{{data?.anteilText}}</div>
        </div>
      </dxi-item>
    </dx-box>

    <dx-box direction="row" width="100%" [height]="40">
      <dxi-item [ratio]="1">
        <div></div>
      </dxi-item>
      <dxi-item [ratio]="9">
        <div class="ctrWith ctrmargin-top">
          <dx-check-box class="content-label" [readOnly]="true" #Alleinerziehend [value]="data.alleinerziehend" [text]="'ZulagenEfb.Form.Alleinerziehend' | translate"></dx-check-box>
        </div>
      </dxi-item>
    </dx-box>

    <dx-box direction="row" width="100%" [height]="40">
      <dxi-item [ratio]="1">
        <div class="label-text">{{ 'ZulagenEfb.Form.Betrag' | translate }}</div>
      </dxi-item>
      <dxi-item [ratio]="9" [formatValues]="numberFormat">
        <div class="ctrWith">
          <div class="content-label">{{data.betragSum | number : number_pipe : translateService.currentLang +'-CH'}}</div>
        </div>
      </dxi-item>
    </dx-box>

    <dx-box direction="row" width="100%" [height]="120">
      <dxi-item [ratio]="1">
        <div class="label-text">{{ 'ZulagenEfb.Form.Beschreibung' | translate }}</div>
      </dxi-item>
      <dxi-item [ratio]="9">
        <div class="content-label"><span class="textarea-pre-wrap">{{data.bemerkung}}</span></div>
      </dxi-item>
    </dx-box>
  </div>
</div>