@import 'settings/variables.scss';

.content-popup {
  text-align: left;
  .title-popup {
    font-weight: normal
  }
  .element-popup {
      float: right;
      margin-right: 1em;
      margin-top: 1em;
      .btn-detail {
          background-color: $color-base;
          color: $color-white;
          &:focus {
            background: $searchbox-header-group-color-bg
          }
      }
      ::ng-deep .dx-button .dx-icon {
          color: $color-white
      }
  }
}

