<div class="container-detail__form form_i008">
  <dx-validation-group #validationWohnKosten>
    <dx-form
      [showColonAfterLabel]="false"
      class="form-body"
      labelLocation="left"
      [formData]="formData"
      [screenByWidth]="getSizeQualifier"
    >
      <dxi-item itemType="group" [colCount]="12" [colSpan]="12">
        <!-- Panel Left-->
        <dxi-item itemType="group" [colSpan]="6">

          <!-- Wohnsituation -->
          <dxi-item itemType="group" [colCount]="5">
            <dxi-item itemType="group" [colSpan]="5">
              <dxo-label [text]="'WohnKosten.Detail.Wohnsituation' | translate"></dxo-label>
              <span>{{ wohnsituation }}</span>
            </dxi-item>
          </dxi-item>

          <!-- Berechnungsgrundlage -->
          <dxi-item itemType="group" [colCount]="5">
            <dxi-item itemType="group" [colSpan]="5">
              <dxo-label [text]="'WohnKosten.Detail.Berechnungsgrundlage' | translate"></dxo-label>
              <span>{{ berechnungsgrundlage }}</span>
            </dxi-item>
          </dxi-item>

          <!-- fur HG UE -->
          <dxi-item itemType="group" [colCount]="5">
            <dxi-item itemType="group" [colSpan]="2">
              <dxo-label text=" " ></dxo-label>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="2">
              <dxo-label [text]="'WohnKosten.Detail.hg' | translate" ></dxo-label>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="1">
              <dxo-label [text]="'WohnKosten.Detail.ue' | translate" ></dxo-label>
            </dxi-item>
          </dxi-item>

          <!-- Effektive Miet-rsp. Zinskosten -->
          <dxi-item itemType="group" [colCount]="5">
            <dxi-item itemType="group" [colSpan]="2">
              <dxo-label [text]="'WohnKosten.Detail.Effektive' | translate" ></dxo-label>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="2"><span>{{ detailData?.Betrag | number : '1.2' : 'de-CH' }}</span></dxi-item>
            <dxi-item itemType="group" [colSpan]="1"><span>{{ detailData?.Beitrag | number : '1.2' : 'de-CH' }}</span></dxi-item>
          </dxi-item>

          <!-- Ansatz gemäss Richtlinien -->
          <dxi-item itemType="group" [colCount]="5">
            <dxi-item itemType="group" [colSpan]="2">
              <dxo-label [text]="getichtlinienTitle()" ></dxo-label>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="2"><span>{{ wohnkostenHg | number : '1.2' : 'de-CH' }}</span></dxi-item>
            <dxi-item itemType="group" [colSpan]="1"><span>{{ detailData?.MaxBeitragSD | number : '1.2' : 'de-CH' }}</span></dxi-item>
          </dxi-item>

          <!-- Angerechneter Wohnkostenanteil exkl. NK -->
          <dxi-item itemType="group" [colCount]="5">
            <dxi-item itemType="group" [colSpan]="2">
              <dxo-label [text]="'WohnKosten.Detail.AngerechneterExkl' | translate" ></dxo-label>
            </dxi-item>
            <dxi-item itemType="empty" [colSpan]="2"><span></span></dxi-item>
            <dxi-item itemType="group" [colSpan]="1"><span>{{ detailData?.Angerechnet | number : '1.2' : 'de-CH' }}</span></dxi-item>
          </dxi-item>

          <!-- Unterdeckter Anteil zulasten Klient -->
          <dxi-item itemType="group" [colCount]="5">
            <dxi-item itemType="group" [colSpan]="2">
              <dxo-label [text]="'WohnKosten.Detail.Unterdeckter' | translate" ></dxo-label>
            </dxi-item>
            <dxi-item itemType="empty" [colSpan]="2"><span></span></dxi-item>
            <dxi-item itemType="group" [colSpan]="1"><span>{{ detailData?.Unterdeckung | number : '1.2' : 'de-CH' }}</span></dxi-item>
          </dxi-item>

          <!-- Effektive Nebenkosten -->
          <dxi-item itemType="group" [colCount]="5">
            <dxi-item itemType="group" [colSpan]="2">
              <dxo-label [text]="'WohnKosten.Detail.Nebenkosten' | translate" ></dxo-label>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="2"><span>{{ detailData?.NKBetrag | number : '1.2' : 'de-CH' }}</span></dxi-item>
            <dxi-item itemType="group" [colSpan]="1"><span>{{ detailData?.NKMaxBeitragSD | number : '1.2' : 'de-CH' }}</span></dxi-item>
          </dxi-item>

          <!-- Angerechneter Wohnkostenanteil inkl. NK -->
          <dxi-item itemType="group" [colCount]="5">
              <dxi-item itemType="group" [colSpan]="2">
                  <dxo-label [text]="'WohnKosten.Detail.AngerechneterInkl' | translate" ></dxo-label>
              </dxi-item>
              <dxi-item itemType="empty" [colSpan]="2"><span></span></dxi-item>
              <dxi-item itemType="group" [colSpan]="1"><span>{{ detailData?.Total | number : '1.2' : 'de-CH' }}</span></dxi-item>
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="empty" [colSpan]="1"></dxi-item>
        <!-- Panel right-->
        <dxi-item itemType="group" [colSpan]="5">
          <dxi-item itemType="group" cssClass="kennzahlen-title">
            <dxo-label [text]="'WohnKosten.Detail.Kennzahlen' | translate"></dxo-label>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="5">
              <dxi-item itemType="group">
                <dxi-item itemType="group">
                  <span class="group-title-label">{{ 'WohnKosten.Detail.Haushaltsgrosse' | translate }}</span>
                </dxi-item>
                <dxi-item itemType="group" [colCount]="2">
                  <dxi-item itemType="group" [colSpan]="2">
                    <dxo-label [text]="'WohnKosten.Detail.Grundbedarf' | translate"></dxo-label>
                    <span>{{ whKennzahlenData.HgGrundbedarf }}</span>
                  </dxi-item>
                  <dxi-item itemType="group" [colSpan]="2">
                    <dxo-label [text]="'WohnKosten.Detail.Wohnkosten' | translate"></dxo-label>
                    <span>{{ whKennzahlenData.HgWohnkosten }}</span>
                  </dxi-item>
                  <dxi-item itemType="group" [colSpan]="2" *ngIf="showZuschlagFields">
                    <dxo-label [text]="'WohnKosten.Detail.Zuschlag' | translate"></dxo-label>
                    <span>{{ whKennzahlenData.HgZuschlagI }}</span>
                  </dxi-item>
                </dxi-item>
              </dxi-item>

              <dxi-item itemType="group">
                <dxi-item itemType="group">
                  <span class="group-title-label">{{ 'WohnKosten.Detail.Unterstutzungseinheit' | translate }}</span>
                </dxi-item>
                <dxi-item itemType="group" [colCount]="2">
                  <dxi-item itemType="group" [colSpan]="2">
                    <dxo-label [text]="'WohnKosten.Detail.Grundbedarf' | translate"></dxo-label>
                    <span>{{ whKennzahlenData.UeGrundbedarf }}</span>
                  </dxi-item>
                  <dxi-item itemType="group" [colSpan]="2">
                    <dxo-label [text]="'WohnKosten.Detail.Wohnkosten' | translate"></dxo-label>
                    <span>{{ whKennzahlenData.UeWohnkosten }}</span>
                  </dxi-item>
                  <dxi-item itemType="group" [colSpan]="2" *ngIf="showZuschlagFields">
                    <dxo-label [text]="'WohnKosten.Detail.Zuschlag' | translate"></dxo-label>
                    <span>{{ whKennzahlenData.UeZuschlagI }}</span>
                  </dxi-item>
                </dxi-item>
              </dxi-item>
          </dxi-item>
        </dxi-item>
        <!-- Panel right-->
        <dxi-item itemType="group" [colSpan]="12">
          <!-- Begründungen -->
          <dxi-item itemType="group" [colCount]="12">
            <dxi-item itemType="group" [colSpan]="1">
              <dxo-label [text]="'WohnKosten.Detail.Begründungen' | translate"></dxo-label>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="11">
              <span class="textarea-pre-wrap">{{ detailData?.Bemerkung }}</span>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </dx-validation-group>
</div>
