<div id="c007_label_Mietvertrag" class="section_title">{{'Klientensystem.SectionMietvertrag.Mietvertrag' |
  translate}}
</div>
<hr class="c007_breakline" />
<div id="c007_form">
  <dx-form id="form" [formData]="mietvertragData" [readOnly]="false" [showColonAfterLabel]="false"
    [showValidationSummary]="true" [colCount]="12" [screenByWidth]="getSizeQualifier">
    <dxi-item [dataField]="" itemType="group" [colSpan]="10">
      <dxi-item [dataField]=" 'Klientensystem.SectionMietvertrag.Vermieter' | translate " [template]="'vermieter'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.Vermieter' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]=" 'Klientensystem.SectionMietvertrag.Bemerkung' | translate " [template]="'bemerkung'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.Bemerkung' | translate "></dxo-label>
      </dxi-item>
    </dxi-item>
    <dxi-item [dataField]="" itemType="group" [colSpan]="2">
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.MietkostenNetto' | translate" [template]="'mietkostenNetto'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.MietkostenNetto' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.Nebenkosten' | translate" [template]="'nebenkosten'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.Nebenkosten' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.KostenanteilUE' | translate" [template]="'kostenanteilUE'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.KostenanteilUE' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.Mietdepot' | translate" [template]="'mietdepot'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.Mietdepot' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.Mietzinsgarantie' | translate" [template]="'mietzinsgarantie'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.Mietzinsgarantie' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.GarantieGultigBis' | translate" [template]="'garantieGultigBis'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.GarantieGultigBis' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.Miete' | translate" [template]="'miete'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.Miete' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.bis' | translate" [template]="'bis'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.bis' | translate "></dxo-label>
      </dxi-item>
      <dxi-item [dataField]="'Klientensystem.SectionMietvertrag.MieteAbgetreten' | translate" [template]="'mieteAbgetreten'">
        <dxo-label [text]=" 'Klientensystem.SectionMietvertrag.MieteAbgetreten' | translate "></dxo-label>
      </dxi-item>
    </dxi-item>
    <div *dxTemplate="let data of 'vermieter'" class="mietvertrag_item_height">
      <span>{{mietvertragData.vermieter}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'bemerkung'">
      <div id="c007_form_datebox_bemerkung" class="form_text_area">
        <div [tabIndex]="31" [froalaEditor]="froalaEditorConfig" [(froalaModel)]="mietvertragData.bemerkung"
          [accessKey]="11" id="froalaEditor"></div>
      </div>
    </div>
    <div *dxTemplate="let data of 'mietkostenNetto'" class="mietvertrag_item_height mietvertrag_right_item_width mietvertrag_right_item_content">
      <span>{{mietvertragData.mietkosten | number : '3.2-2' : 'de-CH'}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'nebenkosten'" class="mietvertrag_item_height mietvertrag_right_item_width mietvertrag_right_item_content">
      <span>{{mietvertragData.nebenkosten | number : '3.2-2' : 'de-CH'}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'kostenanteilUE'" class="mietvertrag_item_height mietvertrag_right_item_width mietvertrag_right_item_content">
      <span>{{mietvertragData.kostenanteilUE | number : '3.2-2' : 'de-CH'}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'mietzinsgarantie'" class="mietvertrag_item_height mietvertrag_right_item_width mietvertrag_right_item_content">
      <span>{{mietvertragData.mietzinsgarantie | number : '3.2-2' : 'de-CH'}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'mietdepot'" class="mietvertrag_item_height mietvertrag_right_item_width mietvertrag_right_item_content">
      <span>{{mietvertragData.mietdepot | number : '3.2-2' : 'de-CH'}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'garantieGultigBis'" class="mietvertrag_item_height mietvertrag_right_item_width">
      <span>{{mietvertragData.garantieBis | date:[dateFormat]}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'miete'" class="mietvertrag_item_height mietvertrag_right_item_width">
      <span>{{mietvertragData.datumVon | date:[dateFormat]}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'bis'" class="mietvertrag_item_height mietvertrag_right_item_width">
      <span>{{mietvertragData.datumBis | date:[dateFormat]}} &nbsp; </span>
    </div>
    <div *dxTemplate="let data of 'mieteAbgetreten'" class="mietvertrag_item_height mietvertrag_right_item_width">
      <dx-check-box [readOnly]="true" #mieteAbgetreten1 [value]="mietvertragData.mieteAbgetreten ? mietvertragData.mieteAbgetreten : false">
      </dx-check-box>
    </div>
  </dx-form>
</div>