.btn-btnGroupBottom{
    text-align: right;
    margin:20px 0 20px 0;
}
.btn-btnGroupBottom .j002_indexwerte-erfassen_abbrechen{
    margin-right: 10px;
}
.banner-title {
    background: unset;
    color: white;
}
.dbx-dbxBottom .dx-field-label{
    width: 20%;
  }
  
.dbx-dbxBottom .dx-field-value{
    float: left;
  }
.dbx-dbxBottom .width-value{
    width: 200px;
}
  
  