@import 'settings/variables.scss';
  .buttonConfirm{
    margin-bottom: $margin-bottom-10;
    margin-top: $margin-top-5;
    float: $float-right;
  }
  .label-creator-modifier{
    margin-right: 30px;
  }
.button-background {
  background-color: $color-base;
  color: white;
}
.button-confirm {
  margin-bottom: $margin-bottom-10;
  margin-top: $margin-top-5;
  float: $float-right;
}