<div id="i008-form-details container-detail">
  <div class="toolbar-header" #toolbarHeader>
    <kiss-card-title id="i008_detail_header"
      [titleHeader]="'WohnKosten.Detail.title' | translate"
      [customizeBtn]="customizeBtnDetail"
      (onCustomizeBtnFn)="toolBarOnItemClickEdit($event)"
      [isCard]="isCard">
    </kiss-card-title>
  </div>
  <div class="container-detail-content" *ngIf="showDetailContainer">
    <!-- Form view -->
    <kiss-wohnkosten-detail-view #viewForm *ngIf="!isEditMode"
      [detailData]="detailData"
      [showZuschlagFields]="showZuschlagFields"
      [whKennzahlenData]="whKennzahlenData"
      [bgPositionsartData]="bgPositionsartData">
    </kiss-wohnkosten-detail-view>
    <!-- Form edit -->
    <kiss-wohnkosten-detail-edit #editForm *ngIf="isEditMode"
      [detailData]="detailData"
      [showZuschlagFields]="showZuschlagFields"
      [whKennzahlenData]="whKennzahlenData"
      [bgPositionsartData]="bgPositionsartData"
      [finanzplanData]="finanzplanData"
      [datePopupSelect]="datePopupSelect"
      [cloneState]="isCloneState()">
    </kiss-wohnkosten-detail-edit>
  </div>
</div>
<dx-popup (onShown)="popupShown()" class="popupDate" [title]="'WohnKosten.PopupConfirm.TitleConfirmDate' | translate" [width]="620"
  [height]="300" [(visible)]="visiblePopUpDate" [dragEnabled]="false" [closeOnOutsideClick]="false">
  <div class="content-popup" *dxTemplate="let data of 'content'">
    <h3 class="title-popup">{{ 'WohnKosten.PopupConfirm.MessageConfirmDate' | translate}}</h3>
    <dx-form>
      <dxi-item itemType="group" [colCount]="2">
        <dxi-item [colSpan]="1">
          <h3 class="title-popup">{{ 'WohnKosten.PopupConfirm.MessageChoseDate' | translate }}</h3>
        </dxi-item>
        <dxi-item [colSpan]="1">
          <dx-select-box #selectDatePopup
            (onItemClick)="onItemDropdownDatePopUpClick($event)"
            [searchEnabled]="false"
            [dataSource]="datePopUpList"
            [disabled]="datePopUpList.length === 0"
            valueExpr="firstDate"
            displayExpr="text"
            [value]="datePopupSelect?.firstDate"
            (onKeyDown)="selectDatePopupKeyDown($event)">
          </dx-select-box>
        </dxi-item>
      </dxi-item>
    </dx-form>

    <div class="element-popup">
      <dx-button #btnAbbrechenPopup [elementAttr]="{ class: 'btn-detail' }" icon="fa fa-times" [text]="'WohnKosten.Detail.Abbrechen' | translate"
        (onClick)="buttonPopUpClicked('Abbrechen')">
      </dx-button>&nbsp;
      <dx-button [disabled]="datePopUpList.length === 0" icon="check" class="btn-detail" text="OK"
        (onClick)="buttonPopUpClicked('ok')">
      </dx-button>
    </div>
  </div>
</dx-popup>
<app-popup-confirm [popUpModel]="popUpModel"></app-popup-confirm>
