@import 'settings/variables.scss';
.personen-im-haushalt {
    height: 80vh;
    font-size: $base-fz;
    .right-content {
        height: 81.5vh;
        .title {
            font-size: $table-head-fz;
            font-weight: $base-fw;
        }
        .divider {
            width: 100%;
            height: 1px;
            margin: 10px 0;
            background: $color-gray;
        }

       .staffInfo {
          margin-right: $margin-badge-layout;
        }

      .clientSumInfo {
        margin-left: $margin-badge-layout;
      }
    }
    .description {
        font-weight: $base-fw - 200;
        margin: 20px 0;
    }
    .clientListContainer{
        width: 100% !important;
    }
    .clientActionContainer {
        width: 38px;
        height: 160px;
        margin: auto;

    }
}

.popupCtrl {
    text-align: center;
    .popupMessage {
        margin-bottom: 20px;
    }
}
