@import 'settings/variables.scss';

.d006-fa-modul-tree-container {
  height: 559px;
  padding: 4px 5px 5px 5px;
}
.treeview-container {
  height: calc(100% - 36px);
  border: solid 1px #ddd;
}
.treeview-wrapper {
  height: 100%;
}
.tree-view-node-text {
  display: block;
  width: calc(100% - 72px);;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tree-view-right-context {
  visibility: hidden;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  float: right;
  background-image: url('/assets/icon/hoz3dot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
:host ::ng-deep .dx-state-selected>div .tree-view-right-context,
:host ::ng-deep .dx-state-hover>div .tree-view-right-context {
  visibility: visible;
}
.right-content-button {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
ul.right-content-button>div {
  &:hover{
    background-color: #e6e6e6;
  }
}

ul.right-content-button li {
  width: max-content;
  padding: 0 5px 2px;
  list-style: none;
}
:host ::ng-deep .d006-treeview img {
  float: left;
}
