<kiss-right-component>
  <kiss-versicherungsleistungen-header 
    (action)="onHeaderAction($event)" 
    [isEditMode]="isEditMode" 
    [personenData]="personenData" 
    [pageTitleTabModule]="pageTitleTabModule">
  </kiss-versicherungsleistungen-header>
  <div class="container">
    <div id="i005_einkommen" class="container__right-content">
      <app-remaining-message #remainingMessage></app-remaining-message>
      <dx-check-box 
        class="label-text" 
        [(value)]="nurAktuelleAnzeigenValue" 
        (onValueChanged)="onCheckBoxChange($event.value)" 
        [text]="'Versicherungsleistungen.List.NurAktuelleAnzeigen' | translate"></dx-check-box>
      <kiss-grid #formList 
          keyExpr="BgPositionID" 
          idGridName="I005_data-grid" 
          filterBuilderName="I005_filter-builder"
          [dataSource]="einkommenData" 
          [searchPlaceholder]="'Versicherungsleistungen.List.Suchen' | translate" 
          [noDataText]="'Versicherungsleistungen.List.NoDataText' | translate"
          [fileName]="fileName" 
          [columnChooserName]="'Versicherungsleistungen.List.Benutzerdefiniert' | translate"
          [readOnly]="!isEditMode"
          [selectedRowKey]="gridKey" 
          [columnsDef]="columnsDataGrid"
          [summary]="summaryDef"
          [gridFunctionModel]="gridFunctionModel"
          [emptyGroupText]="'Versicherungsleistungen.Message.Group' | translate"
          (selectedRow)="onSelectedRow($event)">
        </kiss-grid>
      <ng-container *ngIf="isEditMode; then editMode; else viewMode"> </ng-container>
      <ng-template #viewMode>
        <kiss-versicherungsleistungen-view 
          #viewForm   
          (action)="onFormAction($event)" 
          [dataForm]="rowDetail" 
          [editMask]="editMask"
          [bgBewilligungStatusCode]="bgBewilligungStatusCode"></kiss-versicherungsleistungen-view>
      </ng-template>
      <ng-template #editMode>
        <kiss-versicherungsleistungen-form 
          #detailForm 
          (action)="onFormAction($event)"
          [dataForm]="rowDataEdit" 
          [personList]="personList" 
          [artDerVersicherungList]="artDerVersicherungData"
          (isDirtyForm)="setDirtyForm($event)"></kiss-versicherungsleistungen-form>
      </ng-template>

      <!-- show overlay popup confirm -->
      <app-popup-confirm [popUpModel]="popUpModel"></app-popup-confirm>
      <app-popup-concurrency-detail [visible]='visibleConcurrencyPopup' (yes)="onConcurrencyYes()" (no)="onConcurrencyNo()"></app-popup-concurrency-detail>

    </div>
  </div>
</kiss-right-component>